babel
flask
flask-babel
jinja2
lxml
pygments
python-dateutil
pyyaml
httpx[http2]
Brotli
uvloop
httpx-socks[asyncio]
setproctitle
redis
markdown-it-py
fasttext-predict
pytomlpp; python_version < '3.11'
gunicorn
